* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #809ca8;
}

.boxes {

}

.add {

}

.box {
  width: 200px;
  height: 200px;
  border: 10px solid #343e5c; 
  background-color: #809ca8;
}

.box::before {
  content: attr(data-item);
}
